.search-container {
  .dp-dropdown2-container {
    border: 1px solid #89888b;
  }

  .dropdown2-button {
    background-color: transparent;
  }

  .dropdown2-label.dropdown2-selected {
    color: #ffffff;
  }
}
